<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Mateus Santos - Principal</title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header id="header">
      <div class="d-flex flex-column">
  
        <!-- MENU PRINCIPAL -->
        <div class="perfil">
          <img src="./assets/imgs/foto1.jpg" alt="Foto Perfil" class="img-fluid rounded-circle">
          <h1 class=""><a href="index.html">Mateus Santos</a></h1>
          <div class="">
            <a href="#" class="instagram"><i class=""></i></a>
            <a href="#" class="linkedin"><i class=""></i></a>
            <a href="#" class="github"><i class=""></i></a>
          </div>
        </div>
  
        <nav id="" class="">
          <ul>
            <li><a href="#inicio" class=""><i class=""></i> <span>Início</span></a></li>
            <li><a href="#sobre" class=""><i class=""></i> <span>Sobre</span></a></li>
            <li><a href="#resumo" class=""><i class=""></i> <span>Resumo</span></a></li>
            <li><a href="#portfolio" class=""><i class=""></i> <span>Portfolio</span></a></li>
            <li><a href="#servico" class=""><i class=""></i> <span>Serviço</span></a></li>
            <li><a href="#contato" class=""><i class=""></i> <span>Contato</span></a></li>
          </ul>
        </nav><!-- nav-menu -->
      </div>
    </header>
  
    <!-- Section  -->
    <section id="" class="">
      <div class="" data-aos="">
        <h1>Mateus Santos</h1>
        <p>Eu sou Desenvolvedor de Sistemas.<span class="" data-typed-items=""></span></p>
      </div>
    </section>
    <!-- End Hero -->
    
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>