<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Mateus Santos - Principal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="../assets/css/fonts.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    <header id="header">  
      <div class="d-flex flex-column">
  
        <!-- PERFIL E BOTÕES DAS REDES SOCIAIS LADO A LADO. -->
        <div class="perfil">
          <img src="../assets/imgs/foto2.jpg" alt="Foto Perfil" class="img-fluid rounded-circle">
          <h1 class=""><a href="index.html">Mateus Santos</a></h1>
        </div>
  
        <nav id="navbar" class="nav-menu navbar"> <!-- Opções menu Tags-->
          
          <ul>
        
          <li class="nav-item">
            <a class="font-menu nav-link scrollto active">
            <img class="menu_icons" src="../assets/svg/house.svg" alt="Inicio da página">
            Início
            </a>
          </li>

          <li class="nav-item">
            <a class="font-menu nav-link scrollto">
            <img class="menu_icons" src="../assets/svg/person.svg" alt="Mais Sobre Mim">
            Sobre
          </a>
          </li>

          <li class="nav-item">
            <a class="font-menu nav-link scrollto">
            <img class="menu_icons" src="../assets/svg/file-bar-graph.svg" alt="Veja meus Trabalhos">
            Trabalhos
          </a>
          </li>

          <li class="nav-item">
            <a class="font-menu nav-link scrollto">
            <img class="menu_icons" src="../assets/svg/book-half.svg" alt="Acompanhe meu Portfolio">
            Portfolio
          </a>
          </li>

          <li class="nav-item">
            <a class="font-menu nav-link scrollto">
            <img class="menu_icons" src="../assets/svg/wrench-adjustable.svg" alt="Veja meus Projetos">
            Projetos
          </a>
          </li>

          <li class="nav-item">
            <a class="font-menu nav-link scrollto">
            <img class="menu_icons" src="../assets/svg/envelope-at-fill.svg" alt="Contatos">
            Contatos
            </a>
          </li>
        </ul>
        </nav> <!-- Opções menu Tags-->
      </div>
      </header>

          <!-- ======= Principal ======= -->
          <section id="principal" class="d-flex flex-column justify-content-center align-items-center">
            <div class="principal-container" data-aos="fade-in">
              <h1>Mateus Santos</h1>
              <p>Eu sou <span class="typed" data-typed-items="Desenvolvedor Back-end, Professor de informática, Desenvolvedor Back-end."></span></p>
            </div>
          </section>
      <main id="main">

          <!-- ======= Sessão Sobre ======= -->
          <section id="sobre" class="sobre">
            <div class="container">
                <div class="section-title">
                  <h2>Sobre</h2>
                  <p>Não importa qual seja a dificuldade, dor ou obstáculo. No fim, irei vencer.</p>
              </div>

              <div class="row">
                  <div class="col-lg-4" data-aos="fade-right">
                    <img src="../assets/imgs/foto3.jpg" class="img-fluid" alt="">
                  </div>
              </div>
            </div>
          </section>
      </main>
  </body>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</html>