@charset "UTF-8";
.font-menu {
  font-family: "Open Sans";
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  width: 10px;
  height: 45px;
  color: #b8b8b8;
  list-style-type: none;
}

.menu_icons {
  width: 25px;
  height: 25px;
  margin-right: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: linear-gradient(250deg, #010a2b, #000000);
  overflow-y: auto;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: linear-gradient(250deg, #010a2b, #000000);
  overflow-y: auto;
}

#header .perfil img {
  margin: 15px auto;
  display: block;
  width: 100px;
  border: 5px solid #b8b8b8;
}

#header .perfil h1 {
  font-size: 27px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .perfil h1 a,
#header .perfil h1 a:hover {
  color: #b8b8b8;
  text-decoration: none;
}

#header .perfil .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #00fcfc;
  color: #b8b8b8;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#header .perfil .social-links a:hover {
  background: #00fcfc;
  color: #b8b8b8;
  text-decoration: none;
}

.breadcrumbs .d-flex {
  display: block !important;
}

/*---------- Sessão Principal ---------- */
#principal {
  width: 100%;
  height: 100vh;
  background: url("../imgs/foto3.jpg") top center;
  background-size: cover;
}

#principal:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#principal .principal-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#principal h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#principal p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#principal p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

#principal {
  background-attachment: fixed;
}

#principal h1 {
  font-size: 28px;
  line-height: 36px;
}

#principal h2 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
}

/*------ # Sessões Gerais ----- */
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */