@charset "UTF-8";
@import '_fonts.css';
.cmenu.is-active {
  left: 0%;
}

.nav-menu {
  transition: 0.4s;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  width: 10px;
  height: 45px;
  color: #ffffff;
  list-style-type: none;
}

.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i .nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #ffffff;
}

.menu_icons {
  width: 20px;
  height: 20px;
  margin-right: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

.cmenu {
  position: fixed;
  top: 0;
  left: -50rem;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9999;
  transition: all 0.5s;
  padding: 0 15px;
  background: linear-gradient(250deg, #000825, #000000);
  overflow-y: auto;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: linear-gradient(250deg, #000825, #000000);
  overflow-y: auto;
}

.cmenu .perfil img {
  margin: 15px auto;
  display: block;
  width: 100px;
  border: 5px solid #ffffff;
}

.cmenu .perfil h1 {
  font-size: 27px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

.cmenu .perfil h1 a, .cmenu .perfil h1 a:hover {
  color: #ffffff;
  text-decoration: none;
}

.cmenu .nav-item:hover {
  color: #00fcfc;
}

.icons_social {
  padding: 10px 20px 30px 25px;
}
.icons_social img {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin: 0 8px 0 2px;
}

/*---------- Sessão Principal ---------- */
#principal {
  position: relative;
  width: 100%;
  background-image: url("../imgs/wallpaper.gif");
  background-size: cover;
}

#principal:before {
  content: "";
  background: rgba(24, 5, 5, 0.3);
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#principal .principal-container {
  position: relative;
  height: 32rem;
  z-index: 2;
  min-width: 1rem;
}

#principal h1 {
  margin: 50px 0 10px 100px;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#principal p {
  color: #fff;
  margin: 0px 0 0px 102px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#principal p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

/*------ # Sessões Gerais ----- */
section {
  padding: 3rem 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 2rem;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative;
  color: #032b63;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

#main {
  margin-left: 19rem;
}

.sobre .content h3 {
  font-weight: 700;
  font-size: 26px;
}

.sobre .content ul {
  list-style: none;
  padding: 0;
}

.sobre .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.sobre .content ul strong {
  margin-right: 5px;
  font-size: 15px;
}

.sobre .content ul li, i {
  white-space: nowrap;
  font-size: 15px;
}

.sobre .content ul i {
  margin-right: 2px;
  color: #149ddd;
  line-height: 0;
}

.sobre .content p:last-child {
  margin-bottom: 0;
}

.container, .container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  left: 15rem;
  position: fixed;
  z-index: 9999;
  transition-duration: 200ms;
  mix-blend-mode: difference;
}

.menu-btn.is-active {
  left: 19rem;
  transition-duration: 300ms;
}

.btn-line {
  width: 2rem;
  height: 5px;
  background-color: #ffffff;
  margin: 3px;
  transition: all 0.3s ease;
}

.menu-btn.open .btn-line:nth-child(1), .menu-btn.open .btn-line:nth-child(3) {
  width: 30px;
  transform: translateY(14px) rotate(50deg);
  left: 15px;
}

.menu-btn.open .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.open .btn-line:nth-child(3) {
  transform: translateY(-8px) rotate(-50deg);
}

.carreira .carreira-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.carreira .carreira-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #ffffff;
  border: 2px solid #032b63;
}

.carreira .carreira-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.carreira .carreira-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #032b63;
  position: relative;
}

.carreira .carreira-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.carreira .carreira-item h5 {
  font-size: 16px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 10px;
}

.atual h5 {
  background: rgba(136, 221, 140, 0.658);
}

.pass h5 {
  background: rgba(228, 231, 186, 0.658);
}

.carreira .carreira-item ul {
  padding-left: 20px;
}

.carreira .carreira-item ul li {
  padding-bottom: 10px;
}

.carreira .carreira-item:last-child {
  padding-bottom: 0;
}

.carreira .carreira-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #ffffff;
  border: 2px solid #032b63;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #porfolio-filtros {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #ffffff;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #porfolio-filtros li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #porfolio-filtros li:hover,
.portfolio #porfolio-filtros li.filter-active {
  color: #149ddd;
}

.portfolio #porfolio-filtros li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  background: rgba(20, 157, 221, 0.95);
  transition: 0.3s;
  width: 50%;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(20, 157, 221, 0.95);
}

.portfolio .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #149ddd;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio Detalhes
--------------------------------------------------------------*/
.portfolio-detalhes {
  padding-top: 40px;
}

.portfolio-detalhes .portfolio-detalhes-slide img {
  width: 100%;
}

.portfolio-detalhes .portfolio-detalhes-slide .pag-deslizante {
  margin-top: 20px;
  position: relative;
}

.portfolio-detalhes .portfolio-detalhes-slide .pag-deslizante .pag-deslizante-bullet {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  opacity: 1;
  border: 1px solid #149ddd;
}

.portfolio-detalhes .portfolio-detalhes-slide .pag-deslizante .pag-deslizante-bullet-active {
  background-color: #149ddd;
}

.portfolio-detalhes .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px #272829;
}

.portfolio-detalhes .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dff3fc;
}

.portfolio-detalhes .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-detalhes .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-detalhes .portfolio-descricao {
  padding-top: 30px;
}

.portfolio-detalhes .portfolio-descricao h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-detalhes .portfolio-descricao p {
  padding: 0;
}

/* CSS media query dentro de um stylesheet */
@media (max-width: 768px) {
  #principal h1 {
    font-size: 2rem;
    line-height: 36px;
  }
  #principal h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #principal .principal-container {
    height: 37rem;
    min-width: 1rem;
  }
  .menu-btn.is-active {
    transition-duration: 300ms;
    left: 19rem;
  }
  .menu-btn {
    left: 0.5rem;
  }
  #main {
    margin-left: 1rem;
  }
}
@media (max-width: 768px) {
  #principal h1 {
    font-size: 2rem;
    line-height: 36px;
  }
  #principal h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #principal .principal-container {
    height: 37rem;
    min-width: 1rem;
  }
  .menu-btn.is-active {
    transition-duration: 300ms;
    left: 15rem;
  }
  .menu-btn {
    left: 0.5rem;
  }
  #main {
    margin-left: 1rem;
  }
}
@media (max-width: 1180px) {
  #main {
    margin-left: 1rem;
  }
}/*# sourceMappingURL=style.css.map */