//Sobre
@import './_colors.scss';

.carreira .carreira-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $cor-opcoes2;
}

.carreira .carreira-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  position: relative;
}

.projects-color {
  border-left: 2px solid $cor-opcoes6;
}

//Circulo
.projects-color::before {
  border: 2px solid $cor-opcoes6;
}

.carrer-color {
  border-left: 2px solid $cor-opcoes;
}

.carrer-color::before {
  border: 2px solid $cor-opcoes;
}

.carreira .carreira-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: $cor-fonte;
}

  .carreira .carreira-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: $font-sessoes, sans-serif;
    color: $cor-opcoes2;
    margin-bottom: 10px;
  }
  
  .carreira .carreira-item h5 {
    font-size: 16px;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .atual h5{
    background: $cor-opcoes9;
  }

  .pass h5{
    background: $cor-opcoes8;
  }

  .carreira .carreira-item ul {
    padding-left: 20px;
    a {
      transition: 300ms;
      background-color: $cor-opcoes;
    }a:hover{
      transition: 300ms;
      background-color: $cor-opcoes4;
    }
    i{
      transition: 300ms;
      color: $cor-opcoes3;
    }
  }
  
  .carreira .carreira-item ul li {
    padding-bottom: 10px;
  }
  
  .carreira .carreira-item:last-child {
    padding-bottom: 0;
  }