$cor-menu: linear-gradient(250deg, #000825, #000000);
$cor-fundo: #272829;
$cor-fundo-hover: #7e8083;
$cor-houver-menu: #00fcfc;
$cor-fonte: #ffffff;
$font-menu: 'Open Sans';
$font-menu2: 'Raleway';
$font-sessoes: 'Poppins';
$cor-opcoes: #032b63;
$cor-opcoes2: #050d18;
$cor-opcoes3: #dff3fc;
$cor-opcoes4: #149ddd;
$cor-opcoes5: #ee0808;
$cor-opcoes6: #18d26e;
$cor-opcoes7: rgba(20, 157, 221, 0.95);
$cor-opcoes8: rgba(255, 255, 255, 0.5);
$cor-opcoes9: rgba(136, 221, 140, 0.658);
$cor-opcoes10: rgba(228, 231, 186, 0.658);
$principal-color: #fff;
$filtro-foto: rgba(24, 5, 5, 0.3);
$imagem-principal: url("../imgs/wallpaper.gif");