@import './_colors.scss';

/*--------------------------------------------------------------
# Sessão Contato
--------------------------------------------------------------*/
.contato {
    padding-bottom: 2rem;
  }

.contato .info {
    background: $cor-opcoes3;
    width: 100%;
    box-shadow: 0 0 1rem 0 $cor-opcoes;
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 1rem 1rem 1rem 1rem;
  }
  
  .contato .info i {
    font-size: 22px;
    color: $cor-opcoes4;
    width: 10rem;
    height: 10rem;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contato .info h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
    color: $cor-opcoes2;
  }
  
  .contato .info p {
    margin-bottom: 1rem;
    font-size: 15px;
  }