/* CSS media query dentro de um stylesheet */
@import './_colors.scss';


    //Dispositivos tablets

    @media (max-width: 768px){
      .carousel-item{
        margin-top: 1rem;
        img{
            height: 18rem;
            width: 100%;
        }
      }

        #principal h1{
          margin-top: 5rem;
          font-size: 3rem;
          line-height: 36px;
          }
        #principal h2{
          font-size: 10rem;
          line-height: 24px;
          margin-bottom: 30px;
          }
          #principal p{
            font-size: 23px;
            word-wrap: break-word
          }
    
          .menu-btn.is-active{
              transition-duration: 300ms;
              left: 15rem;
          }
  
          .menu-btn {
              left: 0.5rem;
          }
  
          #main{
              margin-left: 1rem;
            }

          #principal .principal-container{
            position: relative;
            left: 1000rem;
          }
      }

      @media (max-width: 569px){
        #principal h1{
          margin-top: 5rem;
          font-size: 2rem;
          line-height: 36px;
          }

        #principal p{
          padding-bottom: 0px;
          }
          
        #principal .principal-container{
            min-width: 1rem;
            left: 10px;
        }

        .arrow-container{
          margin-left: 8rem;
        }
        
      }

      @media (max-width: 1280px){

        #principal .principal-container{
          left: 1rem;
      }
  
        #main{
            margin-left: 1rem;
          }
        .menu-btn.is-active{
            transition-duration: 300ms;
            left: 19rem;
        }

        .menu-btn {
            left: 0.5rem;
        }

      }