/*------ # Sessões Gerais ----- */

@import './_colors.scss';


section{
    padding: 3rem 0;
    overflow: hidden;
    a {
        transition: 300ms;
        color: $cor-fonte;
        text-decoration: none;
        font-weight: Bold;
        background-color: $cor-opcoes;
        padding: 10px 10px 10px 10px;
        border-radius: 10rem;
      }a:hover{
        transition: 300ms;
        background-color: $cor-opcoes4;
      }
    i{
      color: $cor-opcoes4;
    }
}

.section-title{
    padding-bottom: 2rem;
}

.section-title h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 15px;
    position: relative;
    color: $cor-opcoes;
}

.section-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: $cor-opcoes4;
    bottom: 0;
    left: 0;
}

.section-title p{
    margin-bottom: 0;
}

#main{
  margin-left: 19rem;
}