@import './_colors.scss';

$largura-seta: 2rem;
$largura-seta-inferior: 4rem;
$espaço-entre-setas: 5rem;

.div-arrow-position{
    left: 45%;
    position: absolute;
}
.arrow-down-1 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: $largura-seta solid transparent;
    border-right: $largura-seta solid transparent;
    border-top: $largura-seta-inferior solid $cor-opcoes2; /* Cor da seta */
    transform: rotate(360deg); /* Gira a seta para baixo */
    display: inline-block;
    animation: color-position-change 2s infinite alternate; /* Nome da animação, duração, repetição e direção */
    display: inline-block;
  }
  
  @keyframes color-position-change {
    0% { border-top-color: $cor-opcoes4; transform: translateY(5rem); } /* Cor inicial */
    100% { border-top-color: $cor-fonte; transform: translateY(7rem); } /* Cor intermediária */
  }

  @import './_colors.scss';

  .arrow-down-2 {
      position: absolute;
      width: 0;
      height: 0;
      border-left: $largura-seta solid transparent;
      border-right: $largura-seta solid transparent;
      border-top: $largura-seta-inferior solid $cor-opcoes2; /* Cor da seta */
      transform: rotate(360deg); /* Gira a seta para baixo */
      display: inline-block;
      margin-top: $espaço-entre-setas;
      animation: color-position-change 2s infinite alternate; /* Nome da animação, duração, repetição e direção */
      display: inline-block;
      margin-top: $espaço-entre-setas;
    }
    
    @keyframes color-position-change {
      0% { border-top-color: $cor-opcoes4; transform: translateY(5rem); } /* Cor inicial */
      100% { border-top-color: $cor-fonte; transform: translateY(7rem); } /* Cor intermediária */
    }

    .arrow-down-3 {
        position: absolute;
        width: 0;
        height: 0;
        border-left: $largura-seta solid transparent;
        border-right: $largura-seta solid transparent;
        border-top: $largura-seta-inferior solid $cor-opcoes2; /* Cor da seta */
        transform: rotate(360deg); /* Gira a seta para baixo */
        display: inline-block;
        margin-top: $espaço-entre-setas;
        animation: color-position-change 2s infinite alternate; /* Nome da animação, duração, repetição e direção */
        display: inline-block;
        margin-top: 10rem;
      }
      
      @keyframes color-position-change {
        0% { border-top-color: $cor-opcoes4; transform: translateY(5rem); } /* Cor inicial */
        100% { border-top-color: $cor-fonte; transform: translateY(7rem); } /* Cor intermediária */
      }